@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html, body {
  height: 100%;
  margin: 0;
  font-family: "Poppins";
}

body{
    
    width: 100%;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la ventana */
}
#title{
  margin: 1% 14%;
}

main {
  flex: 1; /* Permite que el main ocupe el espacio restante */
}

canvas{
  margin: 1% 14%;
  margin-top: 20px;
  max-width: 80%;
}
#gridBtns{
  margin: 0% 14%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

#cleanBtn{
  height: 40px;
  width: 136px;
  margin-top: 10px;
  background-color: rgb(255, 97, 97);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  color: #ffffff;
  justify-self: end;
}

#cleanBtn:hover{
  background-color: rgb(121, 13, 13);
}

#csvFileInit, #csvFileEnd{
  width: 100%;
}

input[type="file"] {
    position: relative;
    margin-top: 10px;
  }
  
  input[type="file"]::file-selector-button {
    width: 136px;
    color: transparent;
  }
  
  /* Faked label styles and icon */
  input[type="file"]::before {
    position: absolute;
    pointer-events: none;
    top: 10px;
    left: 16px;
    height: 20px;
    width: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
  }
  
  input[type="file"]::after {
    position: absolute;
    pointer-events: none;
    top: 11px;
    left: 40px;
    color: #0964b0;
    content: "Seleccionar";
  }
  
  /* ------- From Step 1 ------- */
  
  /* file upload button */
  input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
  }
  
  /* file upload button hover state */
  input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
  }
  
  /* file upload button active state */
  input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
  }
  

  @media (max-width: 1500px) {

    #gridBtns{
      display: grid;
      grid-template-columns: 1fr;
    }
    #cleanBtn{
      height: 40px;
      width: 136px;
      background-color: rgb(255, 97, 97);
      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.16);
      color: #ffffff;
      justify-self: start;
    }
  }



  footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    margin-top: auto; /* Empuja el footer al fondo del contenedor */
}